<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <form>
            First Name:
            <input type="text" name="username">
            <br>
            Password:
            <input type="password" name="password">
        </form>
    </body>
</html>